html {
  height: 100%;
  width: 100%;
}
li {
display: inline-block;
margin-right: 35px;

}
.nav{
background-color: goldenrod;
  padding:10px;
  border-radius: 10px;
   margin-bottom:7px;
  
}
a{
color: white;
text-decoration: none;
font-size: 30px;
  font-family: "Protest Revolution", sans-serif;
}
.nav:hover{
background-color: black;
}
.nav:active{
background-color: red;
}
.nav:visited{
background-color: green;
}
.nav:link{
background-color: blue;
}
.nav:focus{
background-color: yellow;
}
.nav:target{
background-color: orange;
}
.nav:active{
background-color: red;
}
.nav:focus{
background-color: yellow;
}
.nav:target{
background-color: orange;
}
.nav:link{
background-color: blue;
}
.nav:visited{
background-color: green;
}
.nav:hover{
background-color: black;
}
.nav:active{
background-color: red;
}
.nav:focus{
background-color: yellow;
}
.nav:target{
background-color: orange;
}
li{
vertical-align: middle;
}
.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}
.banner{
background-image: url("https://images4.alphacoders.com/831/831075.png");
background-size: cover;
background-position: bottom center;
height: 450px;
padding:10px;
border-radius: 10px;
  margin-bottom:7px;
   font-family: "Protest Revolution", sans-serif;
  font-size: 25px;
  color:white ;

}

.container{
  width: 90%;
  margin: 5px auto;
}

body{
  background-color: lightsalmon;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("https://wallpapers.com/images/featured/haikyuu-aesthetic-desktop-amq7cews445tvxj2.jpg");
  background-size: cover;
  padding:20px;
  border-radius: 10px;
  background-repeat: no-repeat;
  height: 80vh;
}
.flex-item{
  width: 30%;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
}

.nav{
  border: 2px solid white;;
}

.footer-heading{
   font-family: "Protest Revolution", sans-serif;
}

.footer-button{
  background-color: green;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  margin: 10px;
  transition: background-color 0.5s ease;
  font-weight: 600;
}

.footer-links{
  font-family: "Patrick Hand", cursive;
  margin-right: 30px;
  font-size: 20px;
}

.footer-links:hover{
  color: grey;
  background-color: #b1f53d;
  padding: 2px;
border-radius: 10px;
}
.footer-copyright{
  font-family: "Patrick Hand", cursive;
  font-size: 22px;
  color: grey;
}

.footer{
  background-color: lightgoldenrodyellow;
  margin: 20px 0;
  border-radius: 20px;
  padding:18px;
}

.footer-button:hover{
  background-color: white;
  color: green;
  border: 1px solid darkgreen;
}
